@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

@media (min-width: 0px) {
  .container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0px 20px;
  }
}

.footer__list {
  list-style-type: none;
  
}

a {
  text-decoration: none;
  background: transparent;
}

ul {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
}

body {
  font-family: "Helvetica Neue medium", sans-serif;
  background-color: #edf3f8;
}
